AI Daily Briefing.json
{
  "name": "AI Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "jsCode": "\n// Handle both API response format (with .data) and direct file format\nconst inputJson = $input.first().json;\nconst inputData = inputJson.data || (inputJson.body && inputJson.body.config);\nlet rawTopics = inputData.topics || [];\nconst tickers = inputData.tickers || [];\nconst userId = inputData.userId || (inputJson.body && inputJson.body.userId) || null;\n\n// Extract names from objects if necessary and filter for enabled topics\nconst topics = rawTopics.map(t => {\n  if (typeof t === 'string') return t;\n  return t.enabled !== false ? t.name : null;\n}).filter(t => t !== null);\n\nreturn {\n  topics,\n  tickers,\n  userId,\n  rssQuery: topics.length > 0 ? topics.join(' OR ') : \"market news\"\n};"
      },
      "id": "1ba7a27b-4793-4f15-a5ef-0279347c27f9",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        101408,
        2672
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickers",
        "options": {}
      },
      "id": "b06feafa-bf75-4ecd-8af7-ac2ac58ea573",
      "name": "Split Tickers",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        101568,
        2528
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.tickers }}?interval=1d&range=1d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "a30eaf4b-2071-4dfe-94b6-8e401dc1c6cf",
      "name": "Fetch Stocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        101744,
        2528
      ]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ $node[\"Config\"].json[\"rssQuery\"] }}&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "b0c7288b-c138-42a6-b8c3-bfa58e2a132f",
      "name": "Fetch News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        101568,
        2800
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  chart: $input.all().map(item => item.json.chart)\n}"
      },
      "id": "f44d22c5-8132-4b86-be05-2872884c018a",
      "name": "Aggregate Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        101904,
        2528
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn {\n  title: items.map(i => i.json.title),\n  link: items.map(i => i.json.link),\n  content: items.map(i => i.json.content),\n  media: items.map(i => i.json.thumbnail || i.json.enclosure?.url || \"\")\n};"
      },
      "id": "23e87d37-8a0b-448d-908a-d3175965de1d",
      "name": "Aggregate News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        101856,
        2800
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "d17c8823-92b0-4169-a9b9-fe7464b3995e",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        102096,
        2704
      ]
    },
    {
      "parameters": {
        "jsCode": "// DATA PRE-PROCESSOR\nconst config = $(\"Config\").first().json;\n\n// Safely get Stocks data\nlet stocks = [];\ntry {\n  const stocksData = $(\"Aggregate Stocks\").first().json;\n  const rawCharts = Array.isArray(stocksData.chart) ? stocksData.chart : [];\n  for (let i = 0; i < rawCharts.length; i++) {\n    const chart = rawCharts[i];\n    if (!chart) continue;\n    const res = chart.result && chart.result[0];\n    if (!res) continue;\n    const meta = res.meta || {};\n    const indicators = res.indicators || {};\n    const quote = (indicators.quote && indicators.quote[0]) || {};\n    const close = (quote.close && quote.close[0]) || meta.regularMarketPrice;\n    const prevClose = meta.chartPreviousClose;\n    stocks.push({\n      ticker: meta.symbol,\n      name: meta.longName || meta.symbol,\n      price: close,\n      change: prevClose ? parseFloat(((close - prevClose) / prevClose * 100).toFixed(2)) : 0,\n      volume: (quote.volume && quote.volume[0]) || meta.regularMarketVolume,\n      ma50: (indicators.quote && indicators.quote[0] && indicators.quote[0].close) ? \n            indicators.quote[0].close.slice(-50).reduce((a,b) => a+b, 0) / Math.min(50, indicators.quote[0].close.length) : close\n    });\n  }\n} catch (e) { console.log('Stocks data processing error', e); }\n\n// Safely get News data\nlet news = [];\ntry {\n  const titles = $(\"Aggregate News\").first().json.title || [];\n  const links = $(\"Aggregate News\").first().json.link || [];\n  const contents = $(\"Aggregate News\").first().json.content || [];\n  const media = $(\"Aggregate News\").first().json.media || [];\n\n  news = titles.map((title, i) => {\n       return {\n        title: Array.isArray(title) ? title[0] : title,\n        l: Array.isArray(links[i]) ? links[i][0] : (links[i] || \"\"),\n        takeaway: (Array.isArray(contents[i]) ? contents[i][0] : (contents[i] || \"\"))\n                   .replace(/<[^>]*>?/gm, '')\n                   .slice(0, 500),\n        img: Array.isArray(media[i]) ? media[i][0] : (media[i] || \"\")\n      };\n    }).filter(item => item.title && item.title.trim().length > 0);\n} catch (e) {\n  console.log(\"News data not available\", e);\n}\n\nif (stocks.length === 0 && news.length === 0) {\n  throw new Error(\"No data available from either Stocks or News. Check your configuration.\");\n}\n\nconst stockContext = JSON.stringify(stocks);\nconst newsContext = JSON.stringify(news.slice(0, 25));\nconst agentDir = \"AI_Briefing/agents\";\n\nconst getCommand = (agentFile, dataStr) => {\n  return `cd /home/adam/n8n && { cat ${agentDir}/${agentFile}; cat <<'EOF'\\n\\nInput: ${dataStr}\\nEOF\\n} | gemini -p \"\" --yolo`;\n};\n\nreturn {\n  stocks,\n  news: news.slice(0, 50),\n  cmd_news: getCommand(\"news_intel.md\", newsContext),\n  cmd_market: getCommand(\"market_analyst.md\", stockContext),\n  cmd_macro: getCommand(\"opportunity_scout.md\", newsContext)\n};"
      },
      "id": "10bf8921-f26b-4193-9057-91c84a668cce",
      "name": "Data Pre-processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        102304,
        2704
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $('Data Pre-processor').first().json.cmd_news }}"
      },
      "id": "8724c166-662b-40b9-bc8b-611cd26c3f12",
      "name": "Agent: News Intel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        102656,
        2464
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $('Data Pre-processor').first().json.cmd_market }}"
      },
      "id": "ccab7402-ffc3-4329-b06d-05c6dcaef8ef",
      "name": "Agent: Market Analyst",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        102656,
        2704
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{$('Data Pre-processor').first().json.cmd_macro}}\n"
      },
      "id": "5f580dd1-7d68-4d22-847c-9ba3d38771a9",
      "name": "Agent: Opportunity Scout",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        102656,
        2944
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7d726a45-2ee7-4ec0-b201-45c51e282824",
      "name": "Merge Agents 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        103120,
        2560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "31a57da8-3a5b-47a7-a6b4-006d784cb19e",
      "name": "Merge Agents 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        103312,
        2704
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = {\n  agent_results: {\n    news_intel: $(\"Agent: News Intel\").first().json,\n    market_analyst: $(\"Agent: Market Analyst\").first().json,\n    opportunity_scout: $(\"Agent: Opportunity Scout\").first().json\n  },\n  market_data: $(\"Data Pre-processor\").first().json.stocks || []\n};\n\nconst agentDir = \"AI_Briefing/agents\";\nconst dataStr = JSON.stringify(results);\n\nconst command = `cd /home/adam/n8n && { cat ${agentDir}/lead_architect.md; cat <<'EOF'\\n\\nInput: ${dataStr}\\nEOF\\n} | gemini -p \"\" --yolo`;\n\nreturn {\n  ...results,\n  cmd_architect: command\n};"
      },
      "id": "d0db1061-f739-4546-947b-f3aaa242f807",
      "name": "Aggregate Agent Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        103504,
        2704
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $('Aggregate Agent Results').item.json.cmd_architect }}"
      },
      "id": "50b171e7-c629-4f81-85e8-c7943f084a26",
      "name": "Agent: Lead Architect",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        103696,
        2704
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alpha-horizon-backend.adamzborovsky.com/api/v1/briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.stdout }}"
            },
            {
              "name": "raw_agents",
              "value": "={{ $('Aggregate Agent Results').first().json.agent_results }}"
            },
            {
              "name": "raw_market_data",
              "value": "={{ $('Aggregate Agent Results').first().json.market_data }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Config').first().json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d034e3ab-2d1b-44be-8587-30654b12a77c",
      "name": "POST Briefing to Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        104032,
        2688
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-briefing",
        "options": {}
      },
      "id": "d913f9d4-f226-4c9a-a0d1-db5500681207",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        101200,
        2672
      ],
      "webhookId": "trigger-briefing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        102816,
        2944
      ],
      "id": "67aba911-2082-4dd8-8e29-47c32d0dae78",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        103856,
        2704
      ],
      "id": "43c7675d-85c3-4a0f-a929-1d3dcfafb148",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        102816,
        2704
      ],
      "id": "af255030-5803-400b-b7cd-7f65f77ad5c9",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        102816,
        2464
      ],
      "id": "f69d40a9-7d61-426c-b5c9-4d509b2ec9d8",
      "name": "If4"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickers": {
      "main": [
        [
          {
            "node": "Fetch Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stocks": {
      "main": [
        [
          {
            "node": "Aggregate Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stocks": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News RSS": {
      "main": [
        [
          {
            "node": "Aggregate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Data Pre-processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pre-processor": {
      "main": [
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: News Intel": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Market Analyst": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Opportunity Scout": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 1": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 2": {
      "main": [
        [
          {
            "node": "Aggregate Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Agent Results": {
      "main": [
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Lead Architect": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "POST Briefing to Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 25
  },
  "versionId": "2901919f-77c8-4db0-badc-fcc5564208a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "462f72c1cb99079f620d4944d8321993a68403a9c985b9412cdd835b5280d81a",
    "webhook_url": "https://n8n.zborovsky.cloud/webhook/trigger-briefing"
  },
  "id": "KUGwhozHkuRG7Jhc",
  "tags": []
}